@{
    Layout = "~/Views/Shared/_LayoutFinlab.cshtml";
}
<div class="content-body default-height">
	<!-- row -->
	<div class="container-fluid">
		<!-- Row -->
		<div class="row">
			<div class="col-xl-12">
				<div class="row">
					<div class="col-xl-12">
						<div class="page-titles">
							<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="javascript;void(0);">Dashboard</a></li>
									<li class="breadcrumb-item active" aria-current="page">Ticketing</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>

				<div class="row wow fadeInUp main-card" data-wow-delay="0.7s">
					<!--column-->
					<div class="col-xxl-8 col-xl-9">
						<div class="swiper ticketing-Swiper position-relative overflow-hidden">
							<div class="swiper-wrapper ">
								<div class="swiper-slide">
									<div class="card ticket bg-primary">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Ticket Solid</p>
											</div>
											<div class="chart-num">
												<h3 class="text-white mb-0">11.720</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card ticket bg-secondary">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Ticket Refund</p>
											</div>
											<div class="chart-num">
												<h3 class="text-white mb-0">2.345</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card ticket bg-info">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Canceled</p>
											</div>
											<div class="chart-num">
												<h3 class="mb-0 text-white">980</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card ticket bg-dark">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Re-Scheduled</p>
											</div>
											<div class="chart-num">
												<h3 class="mb-0 text-white">720</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card ticket bg-info">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Canceled</p>
											</div>
											<div class="chart-num">
												<h3 class="mb-0 text-white">980</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="card ticket bg-secondary">
										<div class="back-image">
											<svg width="102" height="100" viewBox="0 0 102 100" fill="none" xmlns="http://www.w3.org/2000/svg">
												<g opacity="0.3">
													<path d="M89.3573 123.082C59.4605 115.689 41.2417 85.3438 48.6706 55.2997C56.0995 25.2556 86.3609 6.89766 116.258 14.2901C146.155 21.6826 164.373 52.028 156.944 82.0721C149.516 112.116 119.254 130.474 89.3573 123.082Z" stroke="white" />
													<path d="M91.021 116.351C64.8418 109.878 48.891 83.2911 55.4008 56.964C61.9106 30.6368 88.4137 14.5476 114.593 21.0208C140.772 27.4941 156.723 54.0807 150.213 80.4078C143.703 106.735 117.2 122.824 91.021 116.351Z" stroke="white" />
													<path d="M82.6265 121.417C56.4473 114.944 40.4965 88.3576 47.0063 62.0304C53.5161 35.7033 80.0191 19.6141 106.198 26.0873C132.378 32.5605 148.328 59.1471 141.819 85.4743C135.309 111.801 108.806 127.891 82.6265 121.417Z" stroke="white" />
													<path d="M73.9723 126.42C47.9385 119.983 32.1005 93.4265 38.6109 67.0969C45.1213 40.7672 71.5104 24.6525 97.5442 31.0897C123.578 37.527 139.416 64.0831 132.906 90.4127C126.395 116.742 100.006 132.857 73.9723 126.42Z" stroke="white" />
													<path d="M65.3189 131.422C39.1396 124.949 23.1888 98.3625 29.6986 72.0353C36.2084 45.7082 62.7115 29.6189 88.8908 36.0922C115.07 42.5654 131.021 69.152 124.511 95.4792C118.001 121.806 91.4981 137.896 65.3189 131.422Z" stroke="white" />
													<path d="M56.6647 136.425C30.6309 129.987 14.7929 103.431 21.3033 77.1017C27.8137 50.7721 54.2027 34.6573 80.2365 41.0946C106.27 47.5318 122.108 74.0879 115.598 100.418C109.088 126.747 82.6985 142.862 56.6647 136.425Z" stroke="white" />
													<circle cx="59.7333" cy="94.0209" r="48.8339" transform="rotate(103.889 59.7333 94.0209)" stroke="white" />
												</g>
											</svg>
										</div>
										<div class="card-body">
											<div class="title">
												<svg width="9" height="8" viewBox="0 0 9 8" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="0.425781" width="8" height="8" fill="#FCFCFC" />
												</svg>
												<p class="text-white mb-2">Ticket Refund</p>
											</div>
											<div class="chart-num">
												<h3 class="text-white mb-0">2.345</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12 wow fadeInUp" data-wow-delay="1.5s">
								<div class="card">
									<div class="card-header border-0 flex-wrap">
										<h2 class="card-title mb-0">Lastest Transaction</h2>
										<div class="d-flex align-items-center">
											<select class="image-select default-select dashboard-select me-4" aria-label="Default">
												<option selected>This Month</option>
												<option value="1">Weeks</option>
												<option value="2">This Day</option>
											</select>
											<div class="dropdown">
												<a href="javascript:void(0);" class="btn-link btn sharp tp-btn btn-primary pill" data-bs-toggle="dropdown" aria-expanded="false">
													<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M8.33319 9.99985C8.33319 10.9203 9.07938 11.6665 9.99986 11.6665C10.9203 11.6665 11.6665 10.9203 11.6665 9.99986C11.6665 9.07938 10.9203 8.33319 9.99986 8.33319C9.07938 8.33319 8.33319 9.07938 8.33319 9.99985Z" fill="#ffffff" />
														<path d="M8.33319 3.33329C8.33319 4.25376 9.07938 4.99995 9.99986 4.99995C10.9203 4.99995 11.6665 4.25376 11.6665 3.33329C11.6665 2.41282 10.9203 1.66663 9.99986 1.66663C9.07938 1.66663 8.33319 2.41282 8.33319 3.33329Z" fill="#ffffff" />
														<path d="M8.33319 16.6667C8.33319 17.5871 9.07938 18.3333 9.99986 18.3333C10.9203 18.3333 11.6665 17.5871 11.6665 16.6667C11.6665 15.7462 10.9203 15 9.99986 15C9.07938 15 8.33319 15.7462 8.33319 16.6667Z" fill="#ffffff" />
													</svg>

												</a>
												<div class="dropdown-menu dropdown-menu-end">
													<a class="dropdown-item" href="javascript:void(0);">Delete</a>
													<a class="dropdown-item" href="javascript:void(0);">Edit</a>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body py-0">
										<div class="table-responsive">
											<table class="table-responsive-lg table display mb-4 order-table card-table text-black no-footer student-tbl">
												<tbody>
													<tr>
														<td class="whitesp-no p-0">
															<div class="d-flex py-sm-3 py-1 align-items-center trans-info">
																<div class="icon-bx border me-3">
																	<svg width="18" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.1657 -4.57764e-05H3.83236C2.9483 -4.57764e-05 2.10046 0.351144 1.47533 0.976265C0.850213 1.60139 0.499023 2.44923 0.499023 3.33329V16.6666C0.499023 17.5507 0.850213 18.3985 1.47533 19.0236C2.10046 19.6488 2.9483 20 3.83236 20H17.1657C18.0497 20 18.8976 19.6488 19.5227 19.0236C20.1478 18.3985 20.499 17.5507 20.499 16.6666V3.33329C20.499 2.44923 20.1478 1.60139 19.5227 0.976265C18.8976 0.351144 18.0497 -4.57764e-05 17.1657 -4.57764e-05ZM12.2074 12.5H7.56569L8.53236 13.475C8.68757 13.6311 8.77469 13.8423 8.77469 14.0625C8.77469 14.2826 8.68757 14.4938 8.53236 14.65C8.45449 14.7272 8.36214 14.7883 8.26061 14.8298C8.15908 14.8712 8.05036 14.8923 7.94069 14.8916C7.72207 14.8907 7.51258 14.8039 7.35736 14.65L4.96569 12.25C4.84866 12.1337 4.76877 11.9853 4.73613 11.8236C4.70349 11.6619 4.71958 11.4942 4.78236 11.3416C4.84487 11.1894 4.95104 11.0592 5.08747 10.9672C5.22391 10.8753 5.3845 10.8258 5.54902 10.825H12.2157C12.4367 10.825 12.6487 10.9128 12.8049 11.069C12.9612 11.2253 13.049 11.4373 13.049 11.6583C13.049 11.8793 12.9612 12.0913 12.8049 12.2475C12.6487 12.4038 12.4367 12.4916 12.2157 12.4916L12.2074 12.5ZM16.2574 8.68329C16.1904 8.82794 16.0834 8.95036 15.949 9.03603C15.8146 9.12169 15.6584 9.16702 15.499 9.16662H8.83236C8.61134 9.16662 8.39938 9.07882 8.2431 8.92254C8.08682 8.76626 7.99902 8.5543 7.99902 8.33329C7.99902 8.11228 8.08682 7.90031 8.2431 7.74403C8.39938 7.58775 8.61134 7.49996 8.83236 7.49996H13.474L12.5074 6.53329C12.3521 6.37715 12.265 6.16594 12.265 5.94579C12.265 5.72563 12.3521 5.51442 12.5074 5.35829C12.6635 5.20308 12.8747 5.11596 13.0949 5.11596C13.315 5.11596 13.5262 5.20308 13.6824 5.35829L16.074 7.74162C16.1961 7.85992 16.2792 8.01273 16.3119 8.17956C16.3447 8.34639 16.3257 8.51926 16.2574 8.67496V8.68329Z" fill="#1eba62" />
																	</svg>
																</div>
																<div>
																	<h6 class="mb-0">Marilyn Workman</h6>
																	<p class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">@Html.Raw("@")thomaskhuncoro</a></p>
																</div>
															</div>
														</td>
														<td class="whitesp-no">
															<a href="@Url.Action("EcomInvoice","Finlab")" class="tb-mail">
																vita@mail.com
															</a>
														</td>
														<td>Cash On Delivery</td>
														<td class="text-end">
															<span class="badge light badge-success badge-sm">
																<svg width="13" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.50912 14.5C5.25012 14.5 4.99413 14.4005 4.80013 14.2065L1.79362 11.2C1.40213 10.809 1.40213 10.174 1.79362 9.78302C2.18512 9.39152 2.81913 9.39152 3.21063 9.78302L5.62812 12.2005L12.9306 7.18802C13.3866 6.87502 14.0106 6.99102 14.3236 7.44702C14.6371 7.90352 14.5211 8.52702 14.0646 8.84052L6.07613 14.324C5.90363 14.442 5.70612 14.5 5.50912 14.5Z" fill="#1EBA62" />
																	<path d="M5.50912 8.98807C5.25012 8.98807 4.99413 8.88857 4.80013 8.69457L1.79362 5.68807C1.40213 5.29657 1.40213 4.66207 1.79362 4.27107C2.18512 3.87957 2.81913 3.87957 3.21063 4.27107L5.62812 6.68857L12.9306 1.67607C13.3866 1.36307 14.0106 1.47907 14.3236 1.93507C14.6371 2.39157 14.5211 3.01507 14.0646 3.32857L6.07613 8.81257C5.90363 8.93057 5.70612 8.98807 5.50912 8.98807Z" fill="#1EBA62" />
																</svg>
																Complete
															</span>
														</td>

														<td class="text-end text-success">+ $ 30,00</td>
													</tr>
													<tr>
														<td class="whitesp-no p-0">
															<div class="d-flex py-sm-3 py-1 align-items-center trans-info">
																<div class="icon-bx border me-3">
																	<svg width="18" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.1657 -4.57764e-05H3.83236C2.9483 -4.57764e-05 2.10046 0.351144 1.47533 0.976265C0.850213 1.60139 0.499023 2.44923 0.499023 3.33329V16.6666C0.499023 17.5507 0.850213 18.3985 1.47533 19.0236C2.10046 19.6488 2.9483 20 3.83236 20H17.1657C18.0497 20 18.8976 19.6488 19.5227 19.0236C20.1478 18.3985 20.499 17.5507 20.499 16.6666V3.33329C20.499 2.44923 20.1478 1.60139 19.5227 0.976265C18.8976 0.351144 18.0497 -4.57764e-05 17.1657 -4.57764e-05ZM12.2074 12.5H7.56569L8.53236 13.475C8.68757 13.6311 8.77469 13.8423 8.77469 14.0625C8.77469 14.2826 8.68757 14.4938 8.53236 14.65C8.45449 14.7272 8.36214 14.7883 8.26061 14.8298C8.15908 14.8712 8.05036 14.8923 7.94069 14.8916C7.72207 14.8907 7.51258 14.8039 7.35736 14.65L4.96569 12.25C4.84866 12.1337 4.76877 11.9853 4.73613 11.8236C4.70349 11.6619 4.71958 11.4942 4.78236 11.3416C4.84487 11.1894 4.95104 11.0592 5.08747 10.9672C5.22391 10.8753 5.3845 10.8258 5.54902 10.825H12.2157C12.4367 10.825 12.6487 10.9128 12.8049 11.069C12.9612 11.2253 13.049 11.4373 13.049 11.6583C13.049 11.8793 12.9612 12.0913 12.8049 12.2475C12.6487 12.4038 12.4367 12.4916 12.2157 12.4916L12.2074 12.5ZM16.2574 8.68329C16.1904 8.82794 16.0834 8.95036 15.949 9.03603C15.8146 9.12169 15.6584 9.16702 15.499 9.16662H8.83236C8.61134 9.16662 8.39938 9.07882 8.2431 8.92254C8.08682 8.76626 7.99902 8.5543 7.99902 8.33329C7.99902 8.11228 8.08682 7.90031 8.2431 7.74403C8.39938 7.58775 8.61134 7.49996 8.83236 7.49996H13.474L12.5074 6.53329C12.3521 6.37715 12.265 6.16594 12.265 5.94579C12.265 5.72563 12.3521 5.51442 12.5074 5.35829C12.6635 5.20308 12.8747 5.11596 13.0949 5.11596C13.315 5.11596 13.5262 5.20308 13.6824 5.35829L16.074 7.74162C16.1961 7.85992 16.2792 8.01273 16.3119 8.17956C16.3447 8.34639 16.3257 8.51926 16.2574 8.67496V8.68329Z" fill="#fd5353" />
																	</svg>
																</div>
																<div>
																	<h6 class="mb-0">Talan Siphron</h6>
																	<p class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">@Html.Raw("@")thomaskhuncoro</a></p>
																</div>
															</div>
														</td>
														<td class="whitesp-no">
															<a href="@Url.Action("EcomInvoice","Finlab")" class="tb-mail">
																vita@mail.com
															</a>
														</td>
														<td>Cash On Delivery</td>
														<td class="text-end">
															<span class="badge light badge-danger badge-sm">
																<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M19.1156 12.3117C19.1156 12.6545 19.0927 12.9973 19.047 13.3383C19.0576 13.2609 19.0681 13.1818 19.0787 13.1045C18.9873 13.7795 18.808 14.4404 18.5425 15.068C18.5724 14.9977 18.6023 14.9274 18.6304 14.8588C18.3738 15.4652 18.0398 16.0348 17.639 16.5568C17.6847 16.4971 17.7304 16.4391 17.7761 16.3793C17.3718 16.9031 16.9007 17.3725 16.3787 17.7768C16.4384 17.7311 16.4964 17.6854 16.5562 17.6397C16.0341 18.0404 15.4646 18.3744 14.8582 18.6311C14.9285 18.6012 14.9988 18.5713 15.0673 18.5432C14.4398 18.8068 13.7789 18.9879 13.1039 19.0793C13.1812 19.0688 13.2603 19.0582 13.3377 19.0477C12.6574 19.1373 11.9666 19.1373 11.2845 19.0477C11.3619 19.0582 11.441 19.0688 11.5183 19.0793C10.8433 18.9879 10.1824 18.8086 9.55484 18.5432C9.62516 18.5731 9.69547 18.6029 9.76402 18.6311C9.15758 18.3744 8.58805 18.0404 8.06598 17.6397C8.12574 17.6854 8.18375 17.7311 8.24351 17.7768C7.71969 17.3725 7.25035 16.9014 6.84605 16.3793C6.89176 16.4391 6.93746 16.4971 6.98316 16.5568C6.58238 16.0348 6.2484 15.4652 5.99176 14.8588C6.02164 14.9291 6.05152 14.9994 6.07965 15.068C5.81597 14.4404 5.63492 13.7795 5.54351 13.1045C5.55406 13.1818 5.56461 13.2609 5.57515 13.3383C5.48551 12.658 5.48551 11.9672 5.57515 11.2852C5.56461 11.3625 5.55406 11.4416 5.54351 11.519C5.63492 10.844 5.81422 10.183 6.07965 9.55547C6.04976 9.62579 6.01988 9.6961 5.99176 9.76465C6.2484 9.15821 6.58238 8.58868 6.98316 8.06661C6.93746 8.12637 6.89176 8.18438 6.84605 8.24415C7.25035 7.72032 7.72144 7.25098 8.24351 6.84669C8.18375 6.89239 8.12574 6.93809 8.06598 6.98379C8.58805 6.58301 9.15758 6.24903 9.76402 5.99239C9.69371 6.02227 9.6234 6.05215 9.55484 6.08028C10.1824 5.81661 10.8433 5.63555 11.5183 5.54415C11.441 5.55469 11.3619 5.56524 11.2845 5.57579C11.9648 5.48614 12.6556 5.48614 13.3377 5.57579C13.2603 5.56524 13.1812 5.55469 13.1039 5.54415C13.7789 5.63555 14.4398 5.81485 15.0673 6.08028C14.997 6.0504 14.9267 6.02051 14.8582 5.99239C15.4646 6.24903 16.0341 6.58301 16.5562 6.98379C16.4964 6.93809 16.4384 6.89239 16.3787 6.84669C16.9025 7.25098 17.3718 7.72208 17.7761 8.24415C17.7304 8.18438 17.6847 8.12637 17.639 8.06661C18.0398 8.58868 18.3738 9.15821 18.6304 9.76465C18.6005 9.69434 18.5707 9.62403 18.5425 9.55547C18.8062 10.183 18.9873 10.844 19.0787 11.519C19.0681 11.4416 19.0576 11.3625 19.047 11.2852C19.0927 11.6262 19.1156 11.969 19.1156 12.3117C19.1156 12.5367 19.214 12.774 19.3722 12.934C19.5252 13.0869 19.7748 13.2012 19.9945 13.1906C20.2212 13.1801 20.4568 13.1063 20.6168 12.934C20.775 12.7617 20.8752 12.5508 20.8734 12.3117C20.8716 11.4328 20.7398 10.5398 20.4673 9.70313C20.2037 8.89102 19.8257 8.10704 19.3283 7.41094C19.0646 7.04004 18.7781 6.68321 18.4617 6.35626C18.1435 6.02754 17.7972 5.73751 17.4334 5.45977C16.7548 4.93946 15.9972 4.54747 15.1974 4.25215C14.3748 3.94981 13.4941 3.79161 12.6205 3.75645C11.7345 3.72129 10.8275 3.83028 9.97496 4.07286C9.15758 4.30489 8.35953 4.66348 7.64937 5.13106C6.94625 5.59336 6.29762 6.15411 5.76148 6.80274C5.46969 7.15782 5.19371 7.52872 4.95816 7.92247C4.72086 8.31797 4.52926 8.73458 4.35347 9.16172C4.02125 9.97208 3.84019 10.8352 3.7734 11.707C3.70484 12.5912 3.78922 13.4982 3.99664 14.3596C4.19879 15.191 4.53629 16.0049 4.98101 16.7361C5.41695 17.4533 5.96363 18.1213 6.59117 18.6785C7.22398 19.2393 7.93238 19.7227 8.70406 20.0707C9.12594 20.2623 9.56012 20.4311 10.0066 20.5559C10.4636 20.6842 10.9312 20.7615 11.4023 20.816C12.2935 20.9215 13.2005 20.8617 14.0777 20.6842C14.9162 20.5137 15.7371 20.199 16.4841 19.7824C17.2171 19.3729 17.9009 18.8455 18.481 18.2373C19.0664 17.6256 19.5726 16.9225 19.9488 16.1649C20.3337 15.3914 20.6168 14.5652 20.7468 13.7109C20.8171 13.2451 20.8664 12.7793 20.8664 12.3082C20.8664 12.0832 20.7679 11.8459 20.6097 11.6859C20.4568 11.533 20.2072 11.4188 19.9875 11.4293C19.7607 11.4398 19.5252 11.5137 19.3652 11.6859C19.2158 11.8617 19.1156 12.0727 19.1156 12.3117Z" fill="#fd5353"></path>
																	<path d="M12.3125 17.7328C12.5375 17.7328 12.7748 17.6344 12.9348 17.4762C13.0877 17.3233 13.202 17.0737 13.1914 16.8539C13.1809 16.6272 13.107 16.3916 12.9348 16.2317C12.7625 16.0735 12.5516 15.975 12.3125 15.975C12.0875 15.975 11.8502 16.0735 11.6902 16.2317C11.5373 16.3846 11.4231 16.6342 11.4336 16.8539C11.4442 17.0807 11.518 17.3162 11.6902 17.4762C11.8625 17.6344 12.0752 17.7328 12.3125 17.7328ZM10.6074 10.3518C10.6074 10.2375 10.6145 10.125 10.6303 10.0108C10.6197 10.0881 10.6092 10.1672 10.5986 10.2446C10.6303 10.0178 10.6901 9.79632 10.7779 9.58538C10.7481 9.65569 10.7182 9.726 10.6901 9.79456C10.7779 9.58889 10.8904 9.39554 11.0258 9.218C10.9801 9.27776 10.9344 9.33577 10.8887 9.39554C11.0258 9.21975 11.1822 9.06331 11.358 8.9262C11.2983 8.9719 11.2402 9.01761 11.1805 9.06331C11.358 8.92796 11.5514 8.81546 11.757 8.72757C11.6867 8.75745 11.6164 8.78733 11.5479 8.81546C11.7588 8.72757 11.9803 8.6678 12.207 8.63616C12.1297 8.64671 12.0506 8.65725 11.9733 8.6678C12.2 8.63968 12.4285 8.63968 12.6553 8.6678C12.5779 8.65725 12.4988 8.64671 12.4215 8.63616C12.6483 8.6678 12.8697 8.72581 13.0824 8.8137C13.0121 8.78382 12.9418 8.75393 12.8733 8.72581C13.0789 8.8137 13.2723 8.9262 13.4498 9.06155C13.39 9.01585 13.332 8.97014 13.2723 8.92444C13.4481 9.06155 13.6045 9.218 13.7416 9.39378C13.6959 9.33401 13.6502 9.276 13.6045 9.21624C13.7399 9.39378 13.8523 9.58714 13.9402 9.7928C13.9104 9.72249 13.8805 9.65218 13.8523 9.58362C13.9402 9.79632 14 10.016 14.0299 10.2446C14.0193 10.1672 14.0088 10.0881 13.9982 10.0108C14.0264 10.2375 14.0264 10.466 13.9982 10.691C14.0088 10.6137 14.0193 10.5346 14.0299 10.4573C13.9982 10.684 13.9385 10.9055 13.8506 11.1182C13.8805 11.0479 13.9104 10.9776 13.9385 10.909C13.8506 11.1147 13.7381 11.308 13.601 11.4873C13.6467 11.4276 13.6924 11.3696 13.7381 11.3098C13.601 11.4856 13.4445 11.642 13.2688 11.7791C13.3285 11.7334 13.3865 11.6877 13.4463 11.642C13.2705 11.7756 13.0807 11.8846 12.8803 11.9742C12.6236 12.0885 12.3828 12.2678 12.1842 12.4647C11.7236 12.9235 11.467 13.5405 11.4371 14.1873C11.4319 14.3157 11.4354 14.444 11.4354 14.5723C11.4354 14.7973 11.5338 15.0346 11.692 15.1946C11.8449 15.3475 12.0945 15.4617 12.3143 15.4512C12.541 15.4407 12.7766 15.3668 12.9365 15.1946C13.0947 15.0223 13.1932 14.8114 13.1932 14.5723C13.1932 14.393 13.1861 14.2137 13.209 14.0362C13.1984 14.1135 13.1879 14.1926 13.1774 14.27C13.1984 14.1293 13.2354 13.994 13.2899 13.8621C13.26 13.9325 13.2301 14.0028 13.202 14.0713C13.26 13.9342 13.3356 13.8076 13.427 13.6881C13.3813 13.7479 13.3356 13.8059 13.2899 13.8657C13.3777 13.7549 13.4779 13.6565 13.5887 13.5686C13.5289 13.6143 13.4709 13.66 13.4111 13.7057C13.5816 13.5756 13.7732 13.5 13.9613 13.4016C14.1951 13.2785 14.4096 13.1168 14.61 12.9463C14.9633 12.6457 15.2621 12.2467 15.4484 11.8213C15.5574 11.5717 15.6559 11.3239 15.7051 11.0549C15.7543 10.7842 15.7895 10.5065 15.7754 10.2305C15.7508 9.69612 15.6154 9.19339 15.3693 8.72054C14.9316 7.8803 14.1055 7.23694 13.1914 7.00139C12.6623 6.86604 12.1297 6.86429 11.5953 6.96624C11.3404 7.0137 11.1067 7.10862 10.8676 7.21057C10.6901 7.28616 10.5213 7.37932 10.3649 7.49182C9.91838 7.81175 9.5299 8.20901 9.26975 8.69944C8.99905 9.20921 8.85139 9.77347 8.84963 10.3535C8.84787 10.5785 8.94807 10.8158 9.10627 10.9758C9.2592 11.1287 9.50881 11.243 9.72854 11.2325C10.2067 11.2096 10.6057 10.8457 10.6074 10.3518Z" fill="#fd5353"></path>
																</svg>
																Unpaid
															</span>
														</td>

														<td class="text-end text-danger">- $ 30,00</td>
													</tr>
													<tr>
														<td class="whitesp-no p-0">
															<div class="d-flex py-sm-3 py-1 align-items-center trans-info">
																<div class="icon-bx border me-3">
																	<svg width="18" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.1657 -4.57764e-05H3.83236C2.9483 -4.57764e-05 2.10046 0.351144 1.47533 0.976265C0.850213 1.60139 0.499023 2.44923 0.499023 3.33329V16.6666C0.499023 17.5507 0.850213 18.3985 1.47533 19.0236C2.10046 19.6488 2.9483 20 3.83236 20H17.1657C18.0497 20 18.8976 19.6488 19.5227 19.0236C20.1478 18.3985 20.499 17.5507 20.499 16.6666V3.33329C20.499 2.44923 20.1478 1.60139 19.5227 0.976265C18.8976 0.351144 18.0497 -4.57764e-05 17.1657 -4.57764e-05ZM12.2074 12.5H7.56569L8.53236 13.475C8.68757 13.6311 8.77469 13.8423 8.77469 14.0625C8.77469 14.2826 8.68757 14.4938 8.53236 14.65C8.45449 14.7272 8.36214 14.7883 8.26061 14.8298C8.15908 14.8712 8.05036 14.8923 7.94069 14.8916C7.72207 14.8907 7.51258 14.8039 7.35736 14.65L4.96569 12.25C4.84866 12.1337 4.76877 11.9853 4.73613 11.8236C4.70349 11.6619 4.71958 11.4942 4.78236 11.3416C4.84487 11.1894 4.95104 11.0592 5.08747 10.9672C5.22391 10.8753 5.3845 10.8258 5.54902 10.825H12.2157C12.4367 10.825 12.6487 10.9128 12.8049 11.069C12.9612 11.2253 13.049 11.4373 13.049 11.6583C13.049 11.8793 12.9612 12.0913 12.8049 12.2475C12.6487 12.4038 12.4367 12.4916 12.2157 12.4916L12.2074 12.5ZM16.2574 8.68329C16.1904 8.82794 16.0834 8.95036 15.949 9.03603C15.8146 9.12169 15.6584 9.16702 15.499 9.16662H8.83236C8.61134 9.16662 8.39938 9.07882 8.2431 8.92254C8.08682 8.76626 7.99902 8.5543 7.99902 8.33329C7.99902 8.11228 8.08682 7.90031 8.2431 7.74403C8.39938 7.58775 8.61134 7.49996 8.83236 7.49996H13.474L12.5074 6.53329C12.3521 6.37715 12.265 6.16594 12.265 5.94579C12.265 5.72563 12.3521 5.51442 12.5074 5.35829C12.6635 5.20308 12.8747 5.11596 13.0949 5.11596C13.315 5.11596 13.5262 5.20308 13.6824 5.35829L16.074 7.74162C16.1961 7.85992 16.2792 8.01273 16.3119 8.17956C16.3447 8.34639 16.3257 8.51926 16.2574 8.67496V8.68329Z" fill="#1eba62" />
																	</svg>
																</div>
																<div>
																	<h6 class="mb-0">Marilyn Workman</h6>
																	<p class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">@Html.Raw("@")thomaskhuncoro</a></p>
																</div>
															</div>
														</td>
														<td class="whitesp-no">
															<a href="@Url.Action("EcomInvoice","Finlab")" class="tb-mail">
																vita@mail.com
															</a>
														</td>
														<td>Cash On Delivery</td>
														<td class="text-end">
															<span class="badge light badge-success badge-sm">
																<svg width="13" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.50912 14.5C5.25012 14.5 4.99413 14.4005 4.80013 14.2065L1.79362 11.2C1.40213 10.809 1.40213 10.174 1.79362 9.78302C2.18512 9.39152 2.81913 9.39152 3.21063 9.78302L5.62812 12.2005L12.9306 7.18802C13.3866 6.87502 14.0106 6.99102 14.3236 7.44702C14.6371 7.90352 14.5211 8.52702 14.0646 8.84052L6.07613 14.324C5.90363 14.442 5.70612 14.5 5.50912 14.5Z" fill="#1EBA62" />
																	<path d="M5.50912 8.98807C5.25012 8.98807 4.99413 8.88857 4.80013 8.69457L1.79362 5.68807C1.40213 5.29657 1.40213 4.66207 1.79362 4.27107C2.18512 3.87957 2.81913 3.87957 3.21063 4.27107L5.62812 6.68857L12.9306 1.67607C13.3866 1.36307 14.0106 1.47907 14.3236 1.93507C14.6371 2.39157 14.5211 3.01507 14.0646 3.32857L6.07613 8.81257C5.90363 8.93057 5.70612 8.98807 5.50912 8.98807Z" fill="#1EBA62" />
																</svg>
																Complete
															</span>
														</td>

														<td class="text-end text-success">+ $ 60,00</td>
													</tr>
													<tr>
														<td class="whitesp-no p-0">
															<div class="d-flex py-sm-3 py-1 align-items-center trans-info">
																<div class="icon-bx border me-3">
																	<svg width="18" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.1657 -4.57764e-05H3.83236C2.9483 -4.57764e-05 2.10046 0.351144 1.47533 0.976265C0.850213 1.60139 0.499023 2.44923 0.499023 3.33329V16.6666C0.499023 17.5507 0.850213 18.3985 1.47533 19.0236C2.10046 19.6488 2.9483 20 3.83236 20H17.1657C18.0497 20 18.8976 19.6488 19.5227 19.0236C20.1478 18.3985 20.499 17.5507 20.499 16.6666V3.33329C20.499 2.44923 20.1478 1.60139 19.5227 0.976265C18.8976 0.351144 18.0497 -4.57764e-05 17.1657 -4.57764e-05ZM12.2074 12.5H7.56569L8.53236 13.475C8.68757 13.6311 8.77469 13.8423 8.77469 14.0625C8.77469 14.2826 8.68757 14.4938 8.53236 14.65C8.45449 14.7272 8.36214 14.7883 8.26061 14.8298C8.15908 14.8712 8.05036 14.8923 7.94069 14.8916C7.72207 14.8907 7.51258 14.8039 7.35736 14.65L4.96569 12.25C4.84866 12.1337 4.76877 11.9853 4.73613 11.8236C4.70349 11.6619 4.71958 11.4942 4.78236 11.3416C4.84487 11.1894 4.95104 11.0592 5.08747 10.9672C5.22391 10.8753 5.3845 10.8258 5.54902 10.825H12.2157C12.4367 10.825 12.6487 10.9128 12.8049 11.069C12.9612 11.2253 13.049 11.4373 13.049 11.6583C13.049 11.8793 12.9612 12.0913 12.8049 12.2475C12.6487 12.4038 12.4367 12.4916 12.2157 12.4916L12.2074 12.5ZM16.2574 8.68329C16.1904 8.82794 16.0834 8.95036 15.949 9.03603C15.8146 9.12169 15.6584 9.16702 15.499 9.16662H8.83236C8.61134 9.16662 8.39938 9.07882 8.2431 8.92254C8.08682 8.76626 7.99902 8.5543 7.99902 8.33329C7.99902 8.11228 8.08682 7.90031 8.2431 7.74403C8.39938 7.58775 8.61134 7.49996 8.83236 7.49996H13.474L12.5074 6.53329C12.3521 6.37715 12.265 6.16594 12.265 5.94579C12.265 5.72563 12.3521 5.51442 12.5074 5.35829C12.6635 5.20308 12.8747 5.11596 13.0949 5.11596C13.315 5.11596 13.5262 5.20308 13.6824 5.35829L16.074 7.74162C16.1961 7.85992 16.2792 8.01273 16.3119 8.17956C16.3447 8.34639 16.3257 8.51926 16.2574 8.67496V8.68329Z" fill="#fd5353" />
																	</svg>
																</div>
																<div>
																	<h6 class="mb-0">Talan Siphron</h6>
																	<p class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">@Html.Raw("@")thomaskhuncoro</a></p>
																</div>
															</div>
														</td>
														<td class="whitesp-no">
															<a href="@Url.Action("EcomInvoice","Finlab")" class="tb-mail">
																vita@mail.com
															</a>
														</td>
														<td>Cash On Delivery</td>
														<td class="text-end">
															<span class="badge light badge-danger badge-sm">
																<svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M19.1156 12.3117C19.1156 12.6545 19.0927 12.9973 19.047 13.3383C19.0576 13.2609 19.0681 13.1818 19.0787 13.1045C18.9873 13.7795 18.808 14.4404 18.5425 15.068C18.5724 14.9977 18.6023 14.9274 18.6304 14.8588C18.3738 15.4652 18.0398 16.0348 17.639 16.5568C17.6847 16.4971 17.7304 16.4391 17.7761 16.3793C17.3718 16.9031 16.9007 17.3725 16.3787 17.7768C16.4384 17.7311 16.4964 17.6854 16.5562 17.6397C16.0341 18.0404 15.4646 18.3744 14.8582 18.6311C14.9285 18.6012 14.9988 18.5713 15.0673 18.5432C14.4398 18.8068 13.7789 18.9879 13.1039 19.0793C13.1812 19.0688 13.2603 19.0582 13.3377 19.0477C12.6574 19.1373 11.9666 19.1373 11.2845 19.0477C11.3619 19.0582 11.441 19.0688 11.5183 19.0793C10.8433 18.9879 10.1824 18.8086 9.55484 18.5432C9.62516 18.5731 9.69547 18.6029 9.76402 18.6311C9.15758 18.3744 8.58805 18.0404 8.06598 17.6397C8.12574 17.6854 8.18375 17.7311 8.24351 17.7768C7.71969 17.3725 7.25035 16.9014 6.84605 16.3793C6.89176 16.4391 6.93746 16.4971 6.98316 16.5568C6.58238 16.0348 6.2484 15.4652 5.99176 14.8588C6.02164 14.9291 6.05152 14.9994 6.07965 15.068C5.81597 14.4404 5.63492 13.7795 5.54351 13.1045C5.55406 13.1818 5.56461 13.2609 5.57515 13.3383C5.48551 12.658 5.48551 11.9672 5.57515 11.2852C5.56461 11.3625 5.55406 11.4416 5.54351 11.519C5.63492 10.844 5.81422 10.183 6.07965 9.55547C6.04976 9.62579 6.01988 9.6961 5.99176 9.76465C6.2484 9.15821 6.58238 8.58868 6.98316 8.06661C6.93746 8.12637 6.89176 8.18438 6.84605 8.24415C7.25035 7.72032 7.72144 7.25098 8.24351 6.84669C8.18375 6.89239 8.12574 6.93809 8.06598 6.98379C8.58805 6.58301 9.15758 6.24903 9.76402 5.99239C9.69371 6.02227 9.6234 6.05215 9.55484 6.08028C10.1824 5.81661 10.8433 5.63555 11.5183 5.54415C11.441 5.55469 11.3619 5.56524 11.2845 5.57579C11.9648 5.48614 12.6556 5.48614 13.3377 5.57579C13.2603 5.56524 13.1812 5.55469 13.1039 5.54415C13.7789 5.63555 14.4398 5.81485 15.0673 6.08028C14.997 6.0504 14.9267 6.02051 14.8582 5.99239C15.4646 6.24903 16.0341 6.58301 16.5562 6.98379C16.4964 6.93809 16.4384 6.89239 16.3787 6.84669C16.9025 7.25098 17.3718 7.72208 17.7761 8.24415C17.7304 8.18438 17.6847 8.12637 17.639 8.06661C18.0398 8.58868 18.3738 9.15821 18.6304 9.76465C18.6005 9.69434 18.5707 9.62403 18.5425 9.55547C18.8062 10.183 18.9873 10.844 19.0787 11.519C19.0681 11.4416 19.0576 11.3625 19.047 11.2852C19.0927 11.6262 19.1156 11.969 19.1156 12.3117C19.1156 12.5367 19.214 12.774 19.3722 12.934C19.5252 13.0869 19.7748 13.2012 19.9945 13.1906C20.2212 13.1801 20.4568 13.1063 20.6168 12.934C20.775 12.7617 20.8752 12.5508 20.8734 12.3117C20.8716 11.4328 20.7398 10.5398 20.4673 9.70313C20.2037 8.89102 19.8257 8.10704 19.3283 7.41094C19.0646 7.04004 18.7781 6.68321 18.4617 6.35626C18.1435 6.02754 17.7972 5.73751 17.4334 5.45977C16.7548 4.93946 15.9972 4.54747 15.1974 4.25215C14.3748 3.94981 13.4941 3.79161 12.6205 3.75645C11.7345 3.72129 10.8275 3.83028 9.97496 4.07286C9.15758 4.30489 8.35953 4.66348 7.64937 5.13106C6.94625 5.59336 6.29762 6.15411 5.76148 6.80274C5.46969 7.15782 5.19371 7.52872 4.95816 7.92247C4.72086 8.31797 4.52926 8.73458 4.35347 9.16172C4.02125 9.97208 3.84019 10.8352 3.7734 11.707C3.70484 12.5912 3.78922 13.4982 3.99664 14.3596C4.19879 15.191 4.53629 16.0049 4.98101 16.7361C5.41695 17.4533 5.96363 18.1213 6.59117 18.6785C7.22398 19.2393 7.93238 19.7227 8.70406 20.0707C9.12594 20.2623 9.56012 20.4311 10.0066 20.5559C10.4636 20.6842 10.9312 20.7615 11.4023 20.816C12.2935 20.9215 13.2005 20.8617 14.0777 20.6842C14.9162 20.5137 15.7371 20.199 16.4841 19.7824C17.2171 19.3729 17.9009 18.8455 18.481 18.2373C19.0664 17.6256 19.5726 16.9225 19.9488 16.1649C20.3337 15.3914 20.6168 14.5652 20.7468 13.7109C20.8171 13.2451 20.8664 12.7793 20.8664 12.3082C20.8664 12.0832 20.7679 11.8459 20.6097 11.6859C20.4568 11.533 20.2072 11.4188 19.9875 11.4293C19.7607 11.4398 19.5252 11.5137 19.3652 11.6859C19.2158 11.8617 19.1156 12.0727 19.1156 12.3117Z" fill="#fd5353"></path>
																	<path d="M12.3125 17.7328C12.5375 17.7328 12.7748 17.6344 12.9348 17.4762C13.0877 17.3233 13.202 17.0737 13.1914 16.8539C13.1809 16.6272 13.107 16.3916 12.9348 16.2317C12.7625 16.0735 12.5516 15.975 12.3125 15.975C12.0875 15.975 11.8502 16.0735 11.6902 16.2317C11.5373 16.3846 11.4231 16.6342 11.4336 16.8539C11.4442 17.0807 11.518 17.3162 11.6902 17.4762C11.8625 17.6344 12.0752 17.7328 12.3125 17.7328ZM10.6074 10.3518C10.6074 10.2375 10.6145 10.125 10.6303 10.0108C10.6197 10.0881 10.6092 10.1672 10.5986 10.2446C10.6303 10.0178 10.6901 9.79632 10.7779 9.58538C10.7481 9.65569 10.7182 9.726 10.6901 9.79456C10.7779 9.58889 10.8904 9.39554 11.0258 9.218C10.9801 9.27776 10.9344 9.33577 10.8887 9.39554C11.0258 9.21975 11.1822 9.06331 11.358 8.9262C11.2983 8.9719 11.2402 9.01761 11.1805 9.06331C11.358 8.92796 11.5514 8.81546 11.757 8.72757C11.6867 8.75745 11.6164 8.78733 11.5479 8.81546C11.7588 8.72757 11.9803 8.6678 12.207 8.63616C12.1297 8.64671 12.0506 8.65725 11.9733 8.6678C12.2 8.63968 12.4285 8.63968 12.6553 8.6678C12.5779 8.65725 12.4988 8.64671 12.4215 8.63616C12.6483 8.6678 12.8697 8.72581 13.0824 8.8137C13.0121 8.78382 12.9418 8.75393 12.8733 8.72581C13.0789 8.8137 13.2723 8.9262 13.4498 9.06155C13.39 9.01585 13.332 8.97014 13.2723 8.92444C13.4481 9.06155 13.6045 9.218 13.7416 9.39378C13.6959 9.33401 13.6502 9.276 13.6045 9.21624C13.7399 9.39378 13.8523 9.58714 13.9402 9.7928C13.9104 9.72249 13.8805 9.65218 13.8523 9.58362C13.9402 9.79632 14 10.016 14.0299 10.2446C14.0193 10.1672 14.0088 10.0881 13.9982 10.0108C14.0264 10.2375 14.0264 10.466 13.9982 10.691C14.0088 10.6137 14.0193 10.5346 14.0299 10.4573C13.9982 10.684 13.9385 10.9055 13.8506 11.1182C13.8805 11.0479 13.9104 10.9776 13.9385 10.909C13.8506 11.1147 13.7381 11.308 13.601 11.4873C13.6467 11.4276 13.6924 11.3696 13.7381 11.3098C13.601 11.4856 13.4445 11.642 13.2688 11.7791C13.3285 11.7334 13.3865 11.6877 13.4463 11.642C13.2705 11.7756 13.0807 11.8846 12.8803 11.9742C12.6236 12.0885 12.3828 12.2678 12.1842 12.4647C11.7236 12.9235 11.467 13.5405 11.4371 14.1873C11.4319 14.3157 11.4354 14.444 11.4354 14.5723C11.4354 14.7973 11.5338 15.0346 11.692 15.1946C11.8449 15.3475 12.0945 15.4617 12.3143 15.4512C12.541 15.4407 12.7766 15.3668 12.9365 15.1946C13.0947 15.0223 13.1932 14.8114 13.1932 14.5723C13.1932 14.393 13.1861 14.2137 13.209 14.0362C13.1984 14.1135 13.1879 14.1926 13.1774 14.27C13.1984 14.1293 13.2354 13.994 13.2899 13.8621C13.26 13.9325 13.2301 14.0028 13.202 14.0713C13.26 13.9342 13.3356 13.8076 13.427 13.6881C13.3813 13.7479 13.3356 13.8059 13.2899 13.8657C13.3777 13.7549 13.4779 13.6565 13.5887 13.5686C13.5289 13.6143 13.4709 13.66 13.4111 13.7057C13.5816 13.5756 13.7732 13.5 13.9613 13.4016C14.1951 13.2785 14.4096 13.1168 14.61 12.9463C14.9633 12.6457 15.2621 12.2467 15.4484 11.8213C15.5574 11.5717 15.6559 11.3239 15.7051 11.0549C15.7543 10.7842 15.7895 10.5065 15.7754 10.2305C15.7508 9.69612 15.6154 9.19339 15.3693 8.72054C14.9316 7.8803 14.1055 7.23694 13.1914 7.00139C12.6623 6.86604 12.1297 6.86429 11.5953 6.96624C11.3404 7.0137 11.1067 7.10862 10.8676 7.21057C10.6901 7.28616 10.5213 7.37932 10.3649 7.49182C9.91838 7.81175 9.5299 8.20901 9.26975 8.69944C8.99905 9.20921 8.85139 9.77347 8.84963 10.3535C8.84787 10.5785 8.94807 10.8158 9.10627 10.9758C9.2592 11.1287 9.50881 11.243 9.72854 11.2325C10.2067 11.2096 10.6057 10.8457 10.6074 10.3518Z" fill="#fd5353"></path>
																</svg>
																Unpaid
															</span>
														</td>

														<td class="text-end text-danger">- $ 60,00</td>
													</tr>
													<tr>
														<td class="whitesp-no p-0">
															<div class="d-flex py-sm-3 py-1 align-items-center trans-info">
																<div class="icon-bx border me-3">
																	<svg width="18" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
																		<path d="M17.1657 -4.57764e-05H3.83236C2.9483 -4.57764e-05 2.10046 0.351144 1.47533 0.976265C0.850213 1.60139 0.499023 2.44923 0.499023 3.33329V16.6666C0.499023 17.5507 0.850213 18.3985 1.47533 19.0236C2.10046 19.6488 2.9483 20 3.83236 20H17.1657C18.0497 20 18.8976 19.6488 19.5227 19.0236C20.1478 18.3985 20.499 17.5507 20.499 16.6666V3.33329C20.499 2.44923 20.1478 1.60139 19.5227 0.976265C18.8976 0.351144 18.0497 -4.57764e-05 17.1657 -4.57764e-05ZM12.2074 12.5H7.56569L8.53236 13.475C8.68757 13.6311 8.77469 13.8423 8.77469 14.0625C8.77469 14.2826 8.68757 14.4938 8.53236 14.65C8.45449 14.7272 8.36214 14.7883 8.26061 14.8298C8.15908 14.8712 8.05036 14.8923 7.94069 14.8916C7.72207 14.8907 7.51258 14.8039 7.35736 14.65L4.96569 12.25C4.84866 12.1337 4.76877 11.9853 4.73613 11.8236C4.70349 11.6619 4.71958 11.4942 4.78236 11.3416C4.84487 11.1894 4.95104 11.0592 5.08747 10.9672C5.22391 10.8753 5.3845 10.8258 5.54902 10.825H12.2157C12.4367 10.825 12.6487 10.9128 12.8049 11.069C12.9612 11.2253 13.049 11.4373 13.049 11.6583C13.049 11.8793 12.9612 12.0913 12.8049 12.2475C12.6487 12.4038 12.4367 12.4916 12.2157 12.4916L12.2074 12.5ZM16.2574 8.68329C16.1904 8.82794 16.0834 8.95036 15.949 9.03603C15.8146 9.12169 15.6584 9.16702 15.499 9.16662H8.83236C8.61134 9.16662 8.39938 9.07882 8.2431 8.92254C8.08682 8.76626 7.99902 8.5543 7.99902 8.33329C7.99902 8.11228 8.08682 7.90031 8.2431 7.74403C8.39938 7.58775 8.61134 7.49996 8.83236 7.49996H13.474L12.5074 6.53329C12.3521 6.37715 12.265 6.16594 12.265 5.94579C12.265 5.72563 12.3521 5.51442 12.5074 5.35829C12.6635 5.20308 12.8747 5.11596 13.0949 5.11596C13.315 5.11596 13.5262 5.20308 13.6824 5.35829L16.074 7.74162C16.1961 7.85992 16.2792 8.01273 16.3119 8.17956C16.3447 8.34639 16.3257 8.51926 16.2574 8.67496V8.68329Z" fill="#1eba62" />
																	</svg>
																</div>
																<div>
																	<h6 class="mb-0">Marilyn Workman</h6>
																	<p class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">@Html.Raw("@")thomaskhuncoro</a></p>
																</div>
															</div>
														</td>
														<td class="whitesp-no">
															<a href="@Url.Action("EcomInvoice","Finlab")" class="tb-mail">
																vita@mail.com
															</a>
														</td>
														<td>Cash On Delivery</td>
														<td class="text-end">
															<span class="badge light badge-success badge-sm">
																<svg width="13" height="13" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path d="M5.50912 14.5C5.25012 14.5 4.99413 14.4005 4.80013 14.2065L1.79362 11.2C1.40213 10.809 1.40213 10.174 1.79362 9.78302C2.18512 9.39152 2.81913 9.39152 3.21063 9.78302L5.62812 12.2005L12.9306 7.18802C13.3866 6.87502 14.0106 6.99102 14.3236 7.44702C14.6371 7.90352 14.5211 8.52702 14.0646 8.84052L6.07613 14.324C5.90363 14.442 5.70612 14.5 5.50912 14.5Z" fill="#1EBA62" />
																	<path d="M5.50912 8.98807C5.25012 8.98807 4.99413 8.88857 4.80013 8.69457L1.79362 5.68807C1.40213 5.29657 1.40213 4.66207 1.79362 4.27107C2.18512 3.87957 2.81913 3.87957 3.21063 4.27107L5.62812 6.68857L12.9306 1.67607C13.3866 1.36307 14.0106 1.47907 14.3236 1.93507C14.6371 2.39157 14.5211 3.01507 14.0646 3.32857L6.07613 8.81257C5.90363 8.93057 5.70612 8.98807 5.50912 8.98807Z" fill="#1EBA62" />
																</svg>
																Complete
															</span>
														</td>

														<td class="text-end text-success">+ $ 60,00</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="table-pagenation px-4">
										<p>Showing <strong class="text-primary me-1">1-5</strong>from <strong class="text-primary me-1">100</strong>data</p>
										<nav>
											<ul class="pagination pagination-gutter pagination-primary no-bg">
												<li class="page-item page-indicator">
													<a class="page-link" href="javascript:void(0)">
														<i class="fa-solid fa-angle-left"></i>
													</a>
												</li>
												<li class="page-item ">
													<a class="page-link" href="javascript:void(0)">1</a>
												</li>
												<li class="page-item active"><a class="page-link" href="javascript:void(0)">2</a></li>
												<li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
												<li class="page-item page-indicator">
													<a class="page-link" href="javascript:void(0)">
														<i class="fa-solid fa-angle-right"></i>
													</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
							<!--/column-->
						</div>
						<!-- /row-->
					</div>
					<!--/column-->
					<!--column-->
					<div class="col-xxl-4 col-xl-3">
						<div class="row">
							<div class="col-xl-12">
								<div class="card event-agenda  h-auto">
									<div class="card-header border-0 pb-3">
										<div>
											<h2 class="card-title mb-0">Event Agenda</h2>
										</div>
										<div class="add-icon">
											<a href="#" class="icon-bx icon-bx-sm bg-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M12 3C7.05 3 3 7.05 3 12C3 16.95 7.05 21 12 21C16.95 21 21 16.95 21 12C21 7.05 16.95 3 12 3ZM12 19.125C8.1 19.125 4.875 15.9 4.875 12C4.875 8.1 8.1 4.875 12 4.875C15.9 4.875 19.125 8.1 19.125 12C19.125 15.9 15.9 19.125 12 19.125Z" fill="white" />
													<path d="M16.3503 11.0251H12.9753V7.65009C12.9753 7.12509 12.5253 6.67509 12.0003 6.67509C11.4753 6.67509 11.0253 7.12509 11.0253 7.65009V11.0251H7.65029C7.12529 11.0251 6.67529 11.4751 6.67529 12.0001C6.67529 12.5251 7.12529 12.9751 7.65029 12.9751H11.0253V16.3501C11.0253 16.8751 11.4753 17.3251 12.0003 17.3251C12.5253 17.3251 12.9753 16.8751 12.9753 16.3501V12.9751H16.3503C16.8753 12.9751 17.3253 12.5251 17.3253 12.0001C17.3253 11.4751 16.8753 11.0251 16.3503 11.0251Z" fill="white" />
												</svg>
											</a>
										</div>
									</div>
									<div class="card-body loadmore-content dlab-scroll height500  recent-activity-wrapper p-3 pt-0" id="RecentActivityContent">
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">1</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Design Webinar with Team</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>

										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">2</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Anime Music Event</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">3</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Top Management Meeting</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">4</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Design Webinar with Team</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">5</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Concert</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">6</h6>
												<p class="mb-0 text-white">Jan</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Design Webinar with Team</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>
										<div class="d-flex align-items-center event">
											<div class="icon-bx icon-bx-lg bg-secondary me-3 d-flex flex-column justify-content-center">
												<h6 class="mb-0 text-white">7</h6>
												<p class="mb-0 text-white">Dec</p>
											</div>
											<div class="event-info">
												<h6 class="mb-0"><a href="@Url.Action("AppProfile","Finlab")">Design Webinar with Team</a></h6>
												<p class="mb-0">1 December 2021 - 10.00 AM</p>
											</div>
										</div>

									</div>
									<div class="card-footer text-center border-0">
										<a href="javascript:void(0);" class="btn btn-block light btn-secondary  dlab-load-more" id="RecentActivity" rel="/Ajax/EventAgenda">View More</a>
									</div>
								</div>
							</div>
						</div>

					</div>
					<!--/column-->
				</div>
			</div>
		</div>
	</div>
</div>
<partial name="Finlab\_EventAgenda" />
@section Finlab_style
	{
	<link href="~/Finlab/vendor/wow-master/css/libs/animate.css" rel="stylesheet">
	<!--swiper-slider-->
	<link href="~/Finlab/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
}
@section Finlab_script
	{
	<script src="~/Finlab/vendor/global/global.min.js"></script>
	<script src="~/Finlab/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<!-- Chart piety plugin files -->
	<script src="~/Finlab/vendor/swiper/js/swiper-bundle.min.js"></script>
	<!--swiper-slider-->
	<!-- Dashboard 1 -->
	<script src="~/Finlab/vendor/wow-master/dist/wow.min.js"></script>
	<script src="~/Finlab/js/custom.min.js"></script>
	<script src="~/Finlab/js/dlabnav-init.js"></script>
	
	
	<script>
		var swiper = new Swiper('.ticketing-Swiper', {
			speed: 1500,
			slidesPerView: 4,
			spaceBetween: 40,
			parallax: true,
			loop: false,
			autoplay: {
				Delay: 1000,
			},
			breakpoints: {

				300: {
					slidesPerView: 1,
					spaceBetween: 30,
				},
				576: {
					slidesPerView: 2,
					spaceBetween: 30,
				},
				991: {
					slidesPerView: 3,
					spaceBetween: 30,
				},
				1200: {
					slidesPerView: 3,
					spaceBetween: 30,
				},
				1600: {
					slidesPerView: 4,
					spaceBetween: 30,
				},
			},
		});
	</script>
}